# Ex - GroupBy

### Introduction:
GroupBy can be summarized as Split-Apply-Combine.
### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset drinks.csv

In [2]:
drinks = pd.read_csv('C:/Users/HAI YEN/OneDrive/Desktop/git/pandas_excercise/data/drinks.csv')

### Step 3. Assign it to a variable called drinks.

In [3]:
drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

### Step 4. Which continent drinks more beer on average?

In [5]:
avg = drinks['beer_servings'].mean()
drinks.loc[drinks['beer_servings']>avg,'continent']

3       EU
4       AF
6       SA
8       OC
9       EU
      ...
182     EU
184    NaN
185     SA
188     SA
189     AS
Name: continent, Length: 76, dtype: object

### Step 5. For each continent print the statistics for wine consumption.

In [14]:

wine = drinks.groupby('continent').sum()
wine['wine_servings']

C:\Users\HAI YEN\AppData\Local\Temp\ipykernel_14740\914096587.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  wine = drinks.groupby('continent').sum()

continent
AF     862
AS     399
EU    6400
OC     570
SA     749
Name: wine_servings, dtype: int64

### Step 6. Print the mean alcohol consumption per continent for every column

In [16]:
drinks.head()
wine = drinks.groupby('continent').mean()
wine['total_litres_of_pure_alcohol']

C:\Users\HAI YEN\AppData\Local\Temp\ipykernel_14740\2800764890.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  wine = drinks.groupby('continent').mean()

continent
AF    3.007547
AS    2.170455
EU    8.617778
OC    3.381250
SA    6.308333
Name: total_litres_of_pure_alcohol, dtype: float64

### Step 7. Print the median alcohol consumption per continent for every column

In [17]:

wine = drinks.groupby('continent').median()
wine['total_litres_of_pure_alcohol']

C:\Users\HAI YEN\AppData\Local\Temp\ipykernel_14740\3852359081.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.median is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  wine = drinks.groupby('continent').median()

continent
AF     2.30
AS     1.20
EU    10.00
OC     1.75
SA     6.85
Name: total_litres_of_pure_alcohol, dtype: float64

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [20]:
drinks['spirit_servings'].describe()

count    193.000000
mean      80.994819
std       88.284312
min        0.000000
25%        4.000000
50%       56.000000
75%      128.000000
max      438.000000
Name: spirit_servings, dtype: float64