# Ex2 - Getting and Knowing your Data

### Step 1. Import library

In [77]:
import pandas as pd

### Step 2. Import the dataset chipotle.tsv

In [78]:
chipo = pd.read_csv("../data/chipotle.tsv", sep= '\t')

### Step 3. Assign it to a variable called chipo.

In [79]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. See the first 10 entries

In [80]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [81]:
chipo.shape[0]

4622

### Step 6. What is the number of columns in the dataset?

In [82]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [83]:
# chipo.head(0)
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [84]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [85]:
n = chipo.loc[:,'quantity'].max()
m = chipo[chipo['quantity'] == n]

### Step 10. For the most-ordered item, how many items were ordered?

In [86]:
m.iloc[:, [1]]

      quantity
3598        15

### Step 11. What was the most ordered item in the choice_description column?

In [87]:
m.iloc[:, [2]]

                         item_name
3598  Chips and Fresh Tomato Salsa

### Step 12. How many items were orderd in total?

In [88]:
chipo['quantity'].sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [89]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

#### Step 13.b. Create a lambda function and change the type of item price

In [90]:
### 1
# chipo['item_price'] = chipo['item_price'].replace(to_replace= r'[\$]', value= '', regex= True)
# chipo['item_price'] = chipo['item_price'].astype(float)
# chipo['item_price'] 

### 2
# chipo['item_price_1'] = chipo['item_price'].apply(lambda x: float(x.replace('$','')))
# chipo['item_price_1']
### 3
chipo['item_price_2'] = chipo['item_price'].str.replace('$','').astype(float)
chipo['item_price_2']

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price_2, Length: 4622, dtype: float64

#### Step 13.c. Check the item price type

In [92]:
chipo['item_price_2'].dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [94]:
chipo['item_price_2'].sum()

34500.16

### Step 15. How many orders were made in the period?

In [98]:
a = chipo['order_id'].nunique()
a

1834

### Step 16. What is the average revenue amount per order?

In [112]:
chipo['avg_re'] = chipo['quantity']*chipo['item_price_2']
chipo.groupby('order_id')['avg_re'].mean()

order_id
1        2.890000
2       33.960000
3        6.335000
4       10.500000
5        6.850000
          ...
1830    11.500000
1831     4.300000
1832     6.600000
1833    11.750000
1834     9.583333
Name: avg_re, Length: 1834, dtype: float64

### Step 17. How many different items are sold?

In [121]:
b= chipo['item_name'].nunique()
b

50